<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>from Abstract to Visual</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% if show_navbar is not defined or show_navbar %}
        {% include 'partials/navbar.html' %}
    {% endif %}

    <div class="page-wrapper">
        
        {% if show_sidebar %}
            {% include 'partials/sidebar.html' %}
        {% endif %}

        <main class="content-area">
            {% block content %}
            {% endblock %}
        </main>
        
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bar.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>